
Prop_Loader/.vs/Prop_Loader/v15/Server/sqlite3/storage.ide
Prop_Loader/.vs/Prop_Loader/v15/.suo
Prop_Loader/.vs/Prop_Loader/v15/Server/sqlite3/db.lock
Prop_Loader/.vs/Prop_Loader/v15/Server/sqlite3/storage.ide-shm
Prop_Loader/.vs/Prop_Loader/v15/Server/sqlite3/storage.ide-wal
Prop_Loader/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Prop_Loader/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Prop_Loader/obj/Debug/Prop_Loader.csproj.CoreCompileInputs.cache
Prop_Loader/obj/Debug/Prop_Loader.csprojAssemblyReference.cache
Prop_Loader/Prop_Loader.csproj
*.cs
Prop_Loader/Prop_Loader.sln
Prop_Loader/obj/Debug/Prop_Loader.csproj.FileListAbsolute.txt
Prop_Loader/obj/Debug/Prop_Loader.csproj.GenerateResource.cache
Prop_Loader/obj/Debug/Prop_Loader.exe
Prop_Loader/obj/Debug/Prop_Loader.Main_Form.resources
Prop_Loader/obj/Debug/Prop_Loader.pdb
Prop_Loader/obj/Debug/Prop_Loader.Properties.Resources.resources
Prop_Loader/bin/Debug/server.properties
Prop_Loader/bin/Debug/Prop_Loader.pdb
Prop_Loader/bin/Debug/Prop_Loader.exe
